/* Configurações gerais */

.titulo-centralizado {
    text-align: center;
}

/* Configuração header */

.titulo-principal {
    padding-left: 20px;
}

/* Configuração do banner */

#banner {
    width: 100%;
}

/* Configuração da sessão principal */

.principal {
    background-color: #CCCCCC;
    padding: 30px;
}

p {
    text-align: center;
}

#paragrafo-nossa-missao {
    font-size: 20px;
}

#paragrafo-nossa-missao em strong {
    color: red;
}

/* Configuração da sessão de benefícios */

.beneficios {
    background-color: #ffffff;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens {
    font-style: italic;
}

.imagembeneficios {
    width: 50%;
}